html {
  font-size: 0.9rem;
}

.card {
  /* border: 1px solid #999999; */
  border: 1px solid black;
}

.card-header h5 {
  font-weight: bold;
}

section {
  margin-bottom: 2rem;
}

.invisible {
  display: none;
}

@media print {

  #prelim-info {
    display: none;
  }
}